label {
    display: block;
    margin-bottom: 5px;
    color: var(--main-blue);
    font-weight: bold;
}

input {
    display: block;
    border: 1px solid var(--main-blue);
    border-radius: 4px;
    margin-bottom: 20px;
    line-height: 20px;
    padding: 5px 10px;
    box-sizing: border-box;
}

button[type="submit"] {
    border: 2px solid rgba(0,0,0,0.2);
    border-radius: 6px;
    margin-bottom: 10px;
    padding: 5px 20px;
    background: var(--brown);
    color: #fff;
    font-weight: bold;
    box-shadow: 0 0 2px #090909;
    font-family: var(--default-font);
    font-size: 16px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background: var(--light-brown);
}

textarea {
    border: 1px solid var(--main-blue);
    border-radius: 6px;
    padding: 10px 20px;
    min-height: 200px;
    resize: none;
    box-sizing: border-box;
    
}

input:focus, textarea:focus{
    outline: none;
}
