.main-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: 20px;
    padding-top: 20px;
    background: var(--grey-bg);
}

.left-content {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.navigation {
    display: flex;
    column-gap: 10px;
    border: 1px solid var(--light-blue-grey);
    border-radius: 6px;
    padding: 10px 20px;
    margin-bottom: 20px;
    background: #fff;
    font-size: 0.8rem;
    color: var(--main-blue);
}

.navigation a {
    font-weight: bold;
    color: var(--main-blue);
}

.navigation a:hover {
    text-decoration: underline;
}

.section-title-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.forum-section {
    margin: 10px 0 20px 0;
    padding-left: 5px;
    color: var(--main-blue);
    font-weight: bold;
    font-size: 1.5rem;
}

.new-topic {
    display: block;
    border: 2px solid rgba(0,0,0,0.2);
    border-radius: 6px;
    margin-bottom: 10px;
    padding: 5px 20px;
    background: var(--brown);
    color: #fff;
    font-weight: bold;
    box-shadow: 0 0 2px #090909;
}

.new-topic:hover {
    background: var(--light-brown);
}