{% extends "forum.html.twig" %}

{% block style_addition %}
    <link rel="stylesheet" href="{{ asset('css/comming_soon.css') }}">
{% endblock %}

{% block left_content %}
    <p>Page en développement : ça arrive bientôt !</p>
{% endblock %}
