{% extends "base.html.twig" %}

{% block style_addition %}
    <link rel="stylesheet" href="{{ asset('css/legal-notice.css') }}">
{% endblock %}

{% block main_content %}
    <h1 class="title">Mentions légales</h1>
    <h2 class="section-titre">A propos de ce site</h2>
    <p>Ce site, bien que fonctionnel, est seulement un exemple pour présenter mes connaissances avec le framework Symfony</p>
    <p>A ce titre, il n'est pas référencé</p>
    <p>Son code est disponible sur github ! <a href="">Lien</a></p>
    <h2 class="section-titre">Propriétaire et administrateur du site</h2>
    <p>Axel Parmentier</p>
    <p>Adresse de contact : axel.parmentier6@gmail.com</p>
    <h2 class="section-titre">Hébergeur du site</h2>
    <p>L’hébergeur de ce site est OVH, SAS au capital de 10 174 560 euros<br>
RCS Lille Métropole 424 761 419 00045<br>
Code APE 2620Z<br>
N° TVA : FR 22 424 761 419<br>
Siège social : 2 rue Kellermann – 59100 Roubaix – France<br>
Président : Michel Paulin</p>
    <p>OVH SAS est une filiale de la société OVH Groupe SA, société immatriculée
au RCS de Lille sous le numéro 537 407 926 sise 2, rue Kellermann, 59100
Roubaix.</p>
    <h2 class="section-titre">Politique en matière de données personnelles</h2>
    <p>Toutes les données entrées sur ce site sont stockées en base de données et ne sont pas partagées à des tiers</p>
    <p>Conformément à la RGPD, vous pouvez faire valoir vos droits d'accès, de suppression et de modification de vos données
        en contactant l'administrateur dont l'adresse de contact est donnée plus haut</p>
{% endblock %}
