{% extends "base.html.twig" %}

{% block title %}Nouveau Sujet - {% endblock %}

{% block style_addition %}
    <link rel="stylesheet" href="{{ asset('css/new-topic.css') }}">
{% endblock %}

{% block main_content %}
    <h1>Nouveau Sujet</h1>
    <h2>{{ category }} <span>&gt;</span> {{ sub_category }}</h2>
    {{ form(form) }}
{% endblock %}
