{% extends "base.html.twig" %}

{% block style_addition %}
    <link rel="stylesheet" href="{{ asset('css/profile-edition.css') }}">
{% endblock %}

{% block main_content %}
    <h1 class="profile-username">{{ name }}</h1>
    {% if errors is defined %}
        {% for error in errors %}
            <div class="error">{{ error }}</div>
        {% endfor %}
    {% endif %}
    {{ form(form) }}
{% endblock %}
